In [1]:
a=35
b=45
add =a+b

In [2]:
a=35
b=45
add =a+b
print(add)

80

In [3]:
a=35.6
b=45.9
add =a+b
print(add)

81.5

In [4]:
//Addition of two number
a=35
b=45
add =a+b
print(add)

SyntaxError: invalid syntax (1300125741.py, line 1)

In [5]:
a=35
b=45
add =a+b
print(add) /*add*/

SyntaxError: invalid syntax (2420948924.py, line 4)

In [6]:
a=35
b=45
add =a+b
print(add) #add

80

In [7]:
a=decimal(35.59)
b=45
add =a+b
print(add)

NameError: name 'decimal' is not defined

In [8]:
num = int(print("Enter nuber"))
print(num)

Enter nuber

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

In [9]:
num = int(print("Enter number"))
nom =int(print("Another number"))
add =num+nom
print(add)

Enter number

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'NoneType'

In [10]:
num = int(input("Enter number"))
nom =int(input("Another number"))
add =num+nom
print(add)

Enter number 23
Another number 45

68

In [11]:
num = decimal(input("Enter number"))
nom =decimal(input("Another number"))
add =num+nom
print(add)

NameError: name 'decimal' is not defined

In [12]:
name = input("Enter your name: ")
print("Hello, " + name + "!")

Enter your name:  Rathiga

Hello, Rathiga!

In [16]:
age = int(input("Enter your age: "))
    print("You are", age, "years old.")

IndentationError: unexpected indent (4010296113.py, line 2)

In [15]:
age = int(input("Enter your age: "))

Enter your age:  34

In [17]:
print("You are", age, "years old.")

You are 34 years old.

In [18]:
##### price = float(input("Enter the price: "))

Enter the price:  67

In [19]:
 print("The price is", price)

The price is 67.0